<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task: {{ task.id }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="container-sm mt-5">
        <a href="/" class="btn btn-primary">Regresar</a>
        
        <h1 class="display-4 mt-3">{{ task.id }} : {{ task.text }}</h1>
        <hr>
        <p>
            Creado en: {{ task.createdAt.strftime("%Y-%m-%d %H:%M:%S") }}
        </p>
        {% if task.doneAt != None %}
        <p>
            Completado en: {{ task.doneAt.strftime("%Y-%m-%d %H:%M:%S") }}
        </p>
        {% else %}
            {% if task.deletedAt == None %}
            <form action="/done" method="post">
                <input type="hidden" name="id" value="{{ task.id }}">
                <button type="submit" class="btn btn-success">Completado</button>
            </form>
            {% endif %}
        {% endif %}

        {% if task.deletedAt != None %}
        <p>
            Eliminado en: {{ task.deletedAt.strftime("%Y-%m-%d %H:%M:%S") }}
        </p>
        {% else %}
        <a class="btn btn-danger" href="/delete/{{ task.id }}">Eliminar</a>
        {% endif %}
    </div>
</body>
</html>