<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoApp</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="container-sm mt-5">
        <h1 class="display-3">Todo App</h1>
        <hr>

        <div class="card p-3 shadow">
            <form action="/add" method="post">
                <div class="input-group mb-0">
                    <input type="text" name="text" class="form-control" placeholder="new task...">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </form>
        </div>
        <hr>

        <ul class="list-group shadow">
            {% for task in lista_tareas  %}
            <div class="d-flex">
                <a class="list-group-item list-group-item-action {% if task.doneAt != None %} bg-success text-white {% endif %} {% if task.deletedAt != None %} bg-danger text-white {% endif %}" aria-current="true" href="{{ url_for('task', id=task.id) }}">
                    {{ task.id }} : {{ task.text }}
                </a>
                {% if task.deletedAt == None %}
                <a class="btn btn-sm btn-danger" href="/delete/{{ task.id }}">x</a>
                {% endif %}
            </div>
            
            {% endfor  %}
        </ul>
    </div>
    
</body>
</html>