<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task: {{ task._id }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="container-sm mt-5">
        <a href="/" class="btn btn-primary">Regresar</a>
        <div id="task_section">
            <h1 class="display-4 mt-3">
                <input id="taskId" type="hidden" value="{{ task._id }}" />
                <span id="taskText">{{ task.text }}</span>
            </h1>
            <a class="btn btn-secondary" href="javascript: edit(this);">editar</a>
        </div>
        
        <hr>
        <p>
            {% if task.createdAt %}
            Creado en: {{ task.createdAt.strftime("%Y-%m-%d %H:%M:%S") }}
            {% endif %}
        </p>
        {% if task.doneAt %}
        <p>
            Completado en: {{ task.doneAt.strftime("%Y-%m-%d %H:%M:%S") }}
        </p>
        {% else %}
            {% if task.deletedAt %}
            <form action="/done" method="post">
                <input type="hidden" name="id" value="{{ task._id }}">
                <button type="submit" class="btn btn-success">Completado</button>
            </form>
            {% endif %}
        {% endif %}

        {% if task.deletedAt %}
        <p>
            Eliminado en: {{ task.deletedAt.strftime("%Y-%m-%d %H:%M:%S") }}
        </p>
        {% else %}
        <a class="btn btn-danger" href="/delete/{{ task._id }}">Eliminar</a>
        {% endif %}
    </div>
</body>
<script src="{{ url_for('static', filename='app.js') }}"></script>
</html>